/* Sets initial size of 90px and becomes flex container */
.Header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  flex-basis: 9rem;
  margin-right: 3rem;
}

.LogoutBtn{
  color:#1DB954;
  border:2px solid #1DB954;
  padding:10px;
  background-color: transparent;
  font-weight:bold;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.LogoutBtn:hover{
  background-color:#1DB954;
  color:white;
}