/* Background; Centers Explorify Container */
.Container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.75rem;
  height: 100vh; /* Is this the best way to do this? VH can behave weird on mobile */

  background-color: var(--color-black);
}

/* Explorify Container; Flex Container */
.Explorify {
  display: flex;
  height: 100%;
  width: 100%;

  overflow: hidden;

  border-radius: 2.5rem 1rem 1rem 2.5rem;
  font-size: 1.5rem;

  background-color: var(--color-grey-1);
}

/* Container for Header and View - takes 100% of available space and is a flex container itself  */
.Content {
  flex-basis: 100%;
  /* position: relative; */

  display: flex;
  flex-direction: column;

  background-color: var(--color-grey-2);
}

/* View Container - Stretches to 100% of available space */
.View {
  height: 100%;
  width: 100%;
  min-height: 0;
  z-index: 2;

  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.View::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--color-grey-3);
}

.View::-webkit-scrollbar {
  width: 1rem;
  border-radius: 1rem;
  background-color: var(--color-grey-6);
}

.View::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
  background-color: var(--color-grey-6);
}
