/* Layout */

.gridParent {
  display: grid;
  height: 100%;
  max-height: 100%;

  grid-template-columns: 0.8fr 0.8fr 1fr;
  grid-template-rows: 10rem 30rem 20rem 20rem;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  margin: 0 1.75rem;
  padding-bottom: 1.75rem;
}

.gridParent > * {
  background-color: var(--color-grey-4);
}

.gridHeader {
  grid-area: 1 / 1 / 2 / 4;
}
.topLeft {
  grid-area: 2 / 1 / 3 / 2;
}
.topRight {
  grid-area: 2 / 2 / 3 / 3;
}
.middleLeft {
  grid-area: 3 / 1 / 4 / 2;
}
.middleRight {
  grid-area: 3 / 2 / 4 / 3;
}
.bottomLeft {
  grid-area: 4 / 1 / 5 / 3;
}
.bottomRight {
  grid-area: 2 / 3 / 5 / 4;
}

.bottomRight {
  background-color: var(--color-grey-2);
}

/* Style */
.Greeting {
  color: white;
}
