/* Layout */
/* Style */
.Greeting {
  color: white;
}

.loader svg {
  fill: var(--color-spotify-green);
}

.gridParent {
  padding: 3rem;
  padding-bottom: 0;
}

.gridParent > * {
  margin-bottom: 5rem;
}

.gridParent > *:last-child {
  margin-bottom: 0;
}

.songOverview {
  display: flex;
  justify-content: space-between;
  min-width: 0;
  overflow: hidden;
}
.songOverview > * {
  margin-bottom: 5rem;
}

.recentlyPlayed {
  margin-left: 5rem;
  min-width: 0;
}

.topTracks {
  min-width: 0;
}

@media (max-width: 1000px) {
  .songOverview {
    flex-direction: column;
  }

  .recentlyPlayed {
    margin-left: 0;
  }
}
