/* Parent - Container - Attributes */
.SongItem {
  display: flex;
  align-items: center;

  font-size: var(--font-size-sm);
  font-weight: 400;
  color: var(--color-grey-4);
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.SongItem:hover {
  cursor: pointer;
}

/* Child - Container - Attributes */
.imageContainer {
  position: relative;
}

.metaInfo {
  flex: 1;
  margin-left: var(--spacing-size-sm-4);
  min-width: 0;
}

.metaInfo > p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.pos {
  font-size: var(--font-size-lg);
}

/* Image and Icon Styling */
.albumCover {
  min-height: 6.4rem;
  min-width: 6.4rem;
}

.imageIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  background: var(--color-grey-2);
  transition: all 0.3s;
}

.imageIcon svg {
  fill: var(--color-spotify-green);
  width: 3rem;
  height: 3rem;
}

.SongItem:hover .imageIcon {
  opacity: 1;
}

/* Title Styling and Hover Effect */
.songTitle {
  font-size: var(--font-size-md-2);
  font-weight: 500;
  color: var(--color-white);

  margin-bottom: var(--spacing-size-xxs);
}

.songTitle span {
  position: relative;
}

.songTitle span::before {
  position: absolute;
  content: "";
  top: 2.2rem;
  height: 0.25rem;
  width: 0px;
  background-color: var(--color-spotify-green);
  transition: all 0.3s ease-in-out;
}

.SongItem:hover .songTitle span::before {
  width: 100%;
}

.duration {
  margin-left: 1rem;
}
