.tileComponent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  color: var(--color-white);
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding-bottom: 4rem;
}

.headline a {
  font-size: 1.3rem;
  color: var(--color-spotify-green);
  margin-right: 2.2rem;
}

.headline h2 {
  position: relative;
  font-size: 2.5rem;
  letter-spacing: 1.7px;
  line-height: 1.5;
  font-weight: bold;
}

.headline h2::before {
  content: "";
  position: absolute;
  top: 3ch;
  left: 0;
  width: 13rem;
  height: 0.5rem;
  background-color: var(--color-spotify-green);
}
