.content {
  --content-size: 25rem;
  display: flex;
  align-items: center;
  height: var(--content-size);
}

.artistImage {
  height: var(--content-size);
  width: var(--content-size);
  box-shadow: 0px 4px 17px 4px rgba(0, 0, 0, 0.3);
}

.songContainer {
  padding: 0.35rem 2rem;
  padding-right: 0;
  min-width: 0;
}
